* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, li, a, button {
    font-family: "Impact", sans-serif;
	font-weight: 500;
	font-size: 26px;
	color: #fff;
	text-decoration: none;
    
}

header {
    background-image: url(src/header_bg.png) ;
    background-size: cover;
    padding: 15px 4%;
    box-shadow: 3px 10px 100px 30px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 1;
    /*position: fixed;
    width: 100%;*/
  }

  .nav_links {
    display:    flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu{
    padding: 10px 20px;
    border-radius: 50px;
    transition: all 0.5s ease 0s;
  }
  
  .menu:hover{
    color: #fff;
      background-color: #b94603d2;
  }



.wrapper img{
    vertical-align:bottom;
    width: 100%;
    height: auto;

}


.main_about img{
    vertical-align:bottom;
    width: 100%;
    height: auto;  
    box-shadow: -3px -10px 500px 300px rgba(0, 0, 0, 0.5);
}

.wrapper{
    position: relative;
}

.main_about{
    position: relative;
}

.wrapper .go_buy_btn{
    z-index: 1;
    position: absolute;
    right: 13%;
    bottom: 13%;
    border: 3px solid rgb(209, 111, 31);
    border-radius: 50px;
    background-color: rgba(250, 182, 93, 0.897);
    padding: 10px 20px;
    font-size: 26px;
    color: rgb(209, 111, 31);
    transition: all 0.5s ease 0s;
    scale: 1.7;

}

.go_buy_btn:hover{
    scale: 1.9;

}

.logo{
    width: 10%;
}

.logo img{
    width: 100%;
    transition: all 0.5s ease 0s
}

.logo img:hover{
    scale: 1.2;
}


.main_about .main_about_content_left{
  position: absolute;
  text-align: center;
  left: 10%;
  top: 25%;
  scale: 2;
}

.main_about .main_about_content_right{
    width: 55%;
    position: absolute;
    right: 5%;
    top: 20%;
  }

  .slider{
    background: url(src/slider_bg.png) center center no-repeat;
    
  }

  .slider .title p{
    scale: 1;
    text-shadow: -5px 5px 15px black;
  }


    
.slider_container{
    display: flex;
    align-items: center;
    justify-content: center;
}


  .image-container {
    overflow-x: hidden;
    max-width: 80%;
    padding-left: 20px;
    padding-right: 20px;
}

.image-wrapper {
    
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% - (3.5rem * (var(--per-view) - 1))) / var(--per-view));
    grid-gap: 3.5rem;
    position: relative;
    left: 0;
    transition: .3s;
}
.image-wrapper > * {
    aspect-ratio: 5 / 4;
}

/*.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: .5rem;
    box-shadow: -5px 5px 15px black;
}*/

.slider .image-item{
    margin-bottom: 60px;
    box-shadow: -5px 5px 15px black;
}

.image{
    text-align: center;
    padding-top: 20%;
    min-height: 200px;
}

.image-description{
    min-height: 250px;
    background-color: rgb(250, 182, 93);
    padding: 20px;
}
/* IMAGE */

.dash_1 img{
    vertical-align: bottom;
    position: relative;
    width: 100%;
    height: auto;  
    box-shadow: 0px 200px 400px 300px rgba(0, 0, 0, 0.5);
}

.choose_pet{
    background: url(src/choose_pet_bg.png);
    text-shadow: 5px 5px 15px black;
}

.choose_btns{
    z-index: 1;
    padding: 0 15% 60px 15%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.choose_btns img{
    transition: all 0.5s ease 0s;
}

.choose_btns img:hover{
    scale: 1.15;
}

.dash_2 img{
    vertical-align: bottom;
    position: relative;
    width: 100%;
    height: auto;  
    box-shadow: 0px 20px 400px 300px rgba(0, 0, 0, 0.5);
}

.change_racion{
    background: url(src/slider_bg.png);
    text-shadow: 5px 5px 15px black;
}

.dia{
    padding: 0 15% 60px 15%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
  
  